{% extends "base.html" %}

{% block content %}

<div class="card p-4">

    <h2 class="mb-3">👤 My Profile</h2>

    <div class="mb-3">
        <h4>{{ user.username }}</h4>
        <p>{{ user.email }}</p>
    </div>

    <div class="row g-4">

        <div class="col-md-6">
            <div class="card p-4">
                <h5>Total Trips</h5>
                <h2>{{ total_trips }}</h2>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card p-4">
                <h5>Total Expenses</h5>
                <h2>₹{{ total_expenses }}</h2>
            </div>
        </div>

    </div>

</div>

{% endblock %}